frontend apps_internal
    bind 127.0.0.1:8080
    monitor-uri /.internal_healthcheck
    use_backend containers_autodiscovery
    default_backend sorry_page

backend containers_autodiscovery
    balance roundrobin
    option redispatch

    server sorry 127.0.0.1:8082 backup

{{- range $service := ls "/services" }}
  {{- if (eq "true" (getv (printf "/services/%s/labels/lb.enable" $service) "false")) }}

    {{- $interval := getv (printf "/services/%s/health_check/interval" $service) "2000" }}
    {{- $unhealthy_threshold := getv (printf "/services/%s/health_check/unhealthy_threshold" $service) "3" }}
    {{- $healthy_threshold := getv (printf "/services/%s/health_check/healthy_threshold" $service) "3" }}
    {{- $port := getv (printf "/services/%s/health_check/port" $service) "80" }}

    {{- range $container := ls (printf "/services/%s/containers" $service) }}
      {{- if (not (eq "stacks" $container)) }}
    server {{ $container }} {{ $container }}.rancher.internal:{{ $port }} resolvers rancher inter {{ $interval }} rise {{ $healthy_threshold }} fall {{ $unhealthy_threshold }} port {{ $port }} init-addr none check
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
