# dynamic-routing/50-backends.cfg.tmpl

frontend apps_internal
    bind 127.0.0.1:8080
    monitor-uri /.internal_healthcheck
    capture request header X-Request-ID len 42 # nb: len of a typical X-Amzn-Trace-Id

    default_backend sorry_page
{{- range $stack := ls "/stacks" }}
  {{- range $service := ls (printf "/stacks/%s/services" $stack) }}
    {{- if (exists (printf "/stacks/%s/services/%s/labels/lb.routing_key" $stack $service)) }}
      {{- $routing_key := getv (printf "/stacks/%s/services/%s/labels/lb.routing_key" $stack $service) }}
    acl routing_to_{{ $routing_key }} hdr(x-routing-key) -i {{ $routing_key }}
      {{- if (and (exists (printf "/stacks/%s/services/%s/labels/lb.semaphore.host" $stack $service)) (and (exists (printf "/stacks/%s/services/%s/labels/lb.semaphore.url" $stack $service)) (exists (printf "/stacks/%s/services/%s/labels/lb.semaphore.value" $stack $service)))) }}
        {{- $value := getv (printf "/stacks/%s/services/%s/labels/lb.semaphore.value" $stack $service) }}
    use_backend {{ $stack }}_{{ $service }} if { srv_is_up({{ $stack }}_{{ $service }}_{{ $value }}_mode/semaphore) } routing_to_{{ $routing_key }}
      {{- else }}
    use_backend {{ $stack }}_{{ $service }} if routing_to_{{ $routing_key }}
      {{- end }}
    {{- end }}
    {{- if eq "letsencrypt" $service }}
    acl LE_acme_challenge_{{ $stack }} hdr(x-routing-key) -i {{ $stack }}
    use_backend LE_acme_challenge_{{ $stack }} if LE_acme_challenge_{{ $stack }} { path_beg /.well-known/acme-challenge }
    {{- end }}
  {{- end }}
{{- end }}

{{- range $stack := ls "/stacks" }}
  {{- range $service := ls (printf "/stacks/%s/services" $stack) }}
    {{- if (exists (printf "/stacks/%s/services/%s/labels/lb.routing_key" $stack $service)) }}

backend {{ $stack }}_{{ $service }}
    balance roundrobin
    option redispatch

      {{- if (ne "null" (getv (printf "/stacks/%s/services/%s/health_check/request_line" $stack $service) "null")) }}
    option httpchk {{ getv (printf "/stacks/%s/services/%s/health_check/request_line" $stack $service) }}
      {{- end }}
    timeout check {{ getv (printf "/stacks/%s/services/%s/health_check/response_timeout" $stack $service) "2000" }}

      {{- range getvs (printf "/stacks/%s/services/%s/labels/lb.haproxy_backend.*" $stack $service) }}
    {{.}}
      {{- end }}

      {{- $interval := getv (printf "/stacks/%s/services/%s/health_check/interval" $stack $service) "2000" }}
      {{- $unhealthy_threshold := getv (printf "/stacks/%s/services/%s/health_check/unhealthy_threshold" $stack $service) "3" }}
      {{- $healthy_threshold := getv (printf "/stacks/%s/services/%s/health_check/healthy_threshold" $stack $service) "2" }}
      {{- $port := getv (printf "/stacks/%s/services/%s/health_check/port" $stack $service) "80" }}

    default-server inter {{ $interval }} rise {{ $healthy_threshold }} fall {{ $unhealthy_threshold }} port {{ $port }}
    server sorry 127.0.0.1:8082 backup

      {{- if eq "service" (getv (printf "/stacks/%s/services/%s/kind" $stack $service)) }}
    server-template {{ $stack }} {{ len (lsdir (printf "/stacks/%s/services/%s/containers/" $stack $service)) }} {{ $service }}.{{ $stack }}.rancher.internal:{{ $port }} resolvers rancher resolve-prefer ipv4 check
      {{- end }}
      {{- if eq "externalService" (getv (printf "/stacks/%s/services/%s/kind" $stack $service)) }}
    server {{ $stack }}-{{ $service }} {{ getv (printf "/stacks/%s/services/%s/hostname" $stack $service) }}:{{ $port }} resolvers rancher resolve-prefer ipv4 check init-addr none
      {{- end }}
      {{- if (and (exists (printf "/stacks/%s/services/%s/labels/lb.semaphore.host" $stack $service)) (and (exists (printf "/stacks/%s/services/%s/labels/lb.semaphore.url" $stack $service)) (exists (printf "/stacks/%s/services/%s/labels/lb.semaphore.value" $stack $service)))) }}
        {{- $host := getv (printf "/stacks/%s/services/%s/labels/lb.semaphore.host" $stack $service) }}
        {{- $url := getv (printf "/stacks/%s/services/%s/labels/lb.semaphore.url" $stack $service) }}
        {{- $value := getv (printf "/stacks/%s/services/%s/labels/lb.semaphore.value" $stack $service) }}

backend {{ $stack }}_{{ $service }}_{{ $value }}_mode
option httpchk GET "{{ $url }}" "HTTP/1.0\r\nHost:\ {{ $host }}"
    http-check expect rstring ^{{ $value }}$
    default-server inter 5000 rise 2 fall 4 init-addr none
    server semaphore "{{ $host }}:80" resolvers rancher resolve-prefer ipv4 check
      {{- end }}
    {{- end }}
    {{- if eq "letsencrypt" $service }}

backend LE_acme_challenge_{{ $stack }}
    default-server inter 1000 rise 1 fall 3 init-addr none
    server {{ $stack }}-{{ $service }}-1 {{ $stack }}-{{ $service }}-1.rancher.internal:80 resolvers rancher resolve-prefer ipv4 check
    {{- end }}
  {{- end }}
{{- end }}
