# basic/50-backends.cfg.tmpl

frontend apps_internal
    bind 127.0.0.1:8080
    monitor-uri /.internal_healthcheck
    capture request header X-Request-ID len 42 # nb: len of a typical X-Amzn-Trace-Id

    use_backend containers_autodiscovery
    default_backend sorry_page

backend containers_autodiscovery
    balance roundrobin
    option redispatch

    server sorry 127.0.0.1:8082 backup

{{- range $service := ls "/services" }}
  {{- if (and (eq "true" (getv (printf "/services/%s/labels/lb.enable" $service) "false")) (eq "active" (getv (printf "/services/%s/state" $service)))) }}

    {{- $interval := getv (printf "/services/%s/health_check/interval" $service) "2000" }}
    {{- $unhealthy_threshold := getv (printf "/services/%s/health_check/unhealthy_threshold" $service) "3" }}
    {{- $healthy_threshold := getv (printf "/services/%s/health_check/healthy_threshold" $service) "2" }}
    {{- $port := getv (printf "/services/%s/health_check/port" $service) "80" }}

    {{- if eq "service" (getv (printf "/services/%s/kind" $service)) }}
      {{- range $container := ls (printf "/services/%s/containers" $service) }}
        {{- if (not (eq "services" $container)) }}
    server {{ $container }} {{ $container }}.rancher.internal:{{ $port }} check resolvers rancher resolve-prefer ipv4 inter {{ $interval }} rise {{ $healthy_threshold }} fall {{ $unhealthy_threshold }} port {{ $port }} init-addr none
        {{- end }}
      {{- end }}
    {{- end }}
    {{- if eq "externalService" (getv (printf "/services/%s/kind" $service)) }}
      {{- if (ne "null" (getv (printf "/services/%s/hostname" $service) "null")) }}
    server {{ $service }} {{ getv (printf "/services/%s/hostname" $service) }}:{{ $port }} check resolvers rancher resolve-prefer ipv4 inter {{ $interval }} rise {{ $healthy_threshold }} fall {{ $unhealthy_threshold }} port {{ $port }} init-addr none
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
