global
    log /dev/log local1
    log /dev/log local2 debug

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client  20s
    timeout server  30s
    timeout http-request 10s
    timeout http-keep-alive 5s
    timeout check   2s

resolvers rancher
    nameserver dnsmasq 169.254.169.250:53

listen stats
    bind *:8008
    stats enable
    stats uri /stats

frontend 8080
    bind *:8080
    mode http
{{- range $stack := ls "/stacks" }}
  {{- range $service := ls (printf "/stacks/%s/services" $stack) }}
    {{- if (exists (printf "/stacks/%s/services/%s/labels/lb.enable" $stack $service)) }}
      {{- if (eq "true" (getv (printf "/stacks/%s/services/%s/labels/lb.enable" $stack $service))) }}
        {{- if (exists (printf "/stacks/%s/services/%s/labels/lb.domain" $stack $service)) }}
          {{- $domain := getv (printf "/stacks/%s/services/%s/labels/lb.domain" $stack $service) }}
          {{- if (exists (printf "/stacks/%s/services/%s/labels/lb.alias" $stack $service)) }}
    acl 8080_{{ $stack }}_{{ $service }}_host hdr_beg(host) -i {{ getv (printf "/stacks/%s/services/%s/labels/lb.alias" $stack $service) }}.{{ $domain }}
          {{- else }}
    acl 8080_{{ $stack }}_{{ $service }}_host hdr_beg(host) -i {{ $service }}.{{ $stack }}.{{ $domain }}
    acl 8080_{{ $stack }}_{{ $service }}_host hdr_beg(host) -i {{ $service }}.{{ $stack }}.{{ $domain }}:8080
          {{- end }}
        {{- else }}
          {{- $domain := "example.com" }}
          {{- if (exists (printf "/stacks/%s/services/%s/labels/lb.alias" $stack $service)) }}
    acl 8080_{{ $stack }}_{{ $service }}_host hdr_beg(host) -i {{ getv (printf "/stacks/%s/services/%s/labels/lb.alias" $stack $service) }}.{{ $domain }}
          {{- else }}
    acl 8080_{{ $stack }}_{{ $service }}_host hdr_beg(host) -i {{ $service }}.{{ $stack }}.{{ $domain }}
    acl 8080_{{ $stack }}_{{ $service }}_host hdr_beg(host) -i {{ $service }}.{{ $stack }}.{{ $domain }}:8080
          {{- end }}
	{{- end }}
    use_backend 8080_{{ $stack }}_{{ $service }} if 8080_{{ $stack }}_{{ $service }}_host
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- range $stack := ls "/stacks" }}
  {{- range $service := ls (printf "/stacks/%s/services" $stack) }}
    {{- if (exists (printf "/stacks/%s/services/%s/labels/lb.enable" $stack $service)) }}
      {{- if (eq "true" (getv (printf "/stacks/%s/services/%s/labels/lb.enable" $stack $service))) }}

backend 8080_{{ $stack }}_{{ $service }}
    balance roundrobin
        {{- range $container := ls (printf "/stacks/%s/services/%s/containers" $stack $service) }}
          {{- if (not (eq "stacks" $container)) }}
            {{- $ip := getv (printf "/stacks/%s/services/%s/containers/%s/primary_ip" $stack $service $container) }}
    server {{ $container }} {{ $ip }}:80 resolvers rancher check
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
